
<div class="jumbotron">
	<div class="container">
		<h3>Tài nguyên sử dụng trong ứng dụng AngularJS</h3>
        <p>Trong demo này mình xin giới thiệu với các bạn một thư viện tạo các flash message đẹp mắt mà mình đã từng sử dụng.</p>
        <p>Nó cũng được ứng dụng trong project <a href="https://azquestion-sangnguyenplus.c9users.io/">AZquestion</a> của mình.</p>
        <p>Bạn có thể tìm hiểu thêm về AngularJS (nếu bạn chưa biết) trong bài viết này: <a href="http://sangplus.com/angular-js-101-gioi-thieu-ve-angularjs.html">Giới thiệu về AngularJS</a> </p>

        <h4>Demo sử dụng Angular Flash Message:</h4>
		<p>
            <button class="btn btn-success" ui-sref="success-page">Thông báo thành công</button>
		    <button class="btn btn-danger" ui-sref="error-page">Thông báo lỗi</button>
		</p>
	</div>
</div>
